<html>
<head><title>TEST FORM</title>
</head>
<body>
    <form action="http://localhost:3000/api/editContact/1000001"
        method='get'>
        <!-- 
            NEW CONTACT: 
            method='post'
            enctype='multipart/form- data'
        -->
        <!--<input type="file" name="userPhoto"/>-->
        <input type="text" name="firstName"/>
        <input type="text" name="lastName"/>
        <input type="text" name="email"/>
        <input type="text" name="phone"/>
        <input type="text" name="group"/>
        <input type="submit"/>
    </form>
</body>
</html>